{% load i18n %}

<article>
  <h2>{% trans "Arte salvación" %}</h2>

  <p>
    {% blocktrans %}
    El “tour” comenzó, los entes dirigieron a las personas por un laberinto humano, famoso por su tamaño vasto y principalmente por ser el antiguo epicentro artístico de una gran nación de épocas pasadas. Esta nación ya había dejado de ser, pero las obras de arte perduraron por su belleza, fue la belleza de las estatuas dentro del laberinto la que conquistó al emperador alienígena que dio muerte a esa antigua nación. “De matar a estos bárbaros, se nos perdonará, pero ciertamente moriremos en el viaje a casa, si tocamos semejantes milagros” – había dicho él mismo cuando recorrió el laberinto.
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    Los humanos sabían que al final del recorrido se encontraba una prueba, sus guías, de dicha prueba solo habían comentado: “Si el androide muere después de que solo quede ámbar, habrán perdido”.
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    El centro del laberinto contenía un edificio de dos pisos con paredes de cristal amarillo, con color café en sus bordes. El final del “tour” como decían los humanos, llegaba a este edificio, los entes dirigieron a los humanos en una fila ordenada hacia la estructura, al entrar todos, los entes hicieron una seña y en un momento, una fuerte brisa entró e hizo que las paredes de vidrio comenzaran a deshacerse poco a poco.
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    Todos los presentes en la cristalina estructura, una vez dentro, cuando observaron el vidrio derritiéndose y los colores mezclándose, formando una especie de dorado miel o ámbar, se dieron cuenta rápidamente que la prueba había empezado y frenéticamente buscaron algo que se asemejase a un androide o robot para aniquilarlo, para así cumplir, lo que según ellos, era la respuesta a la enigmática prueba. Mientras se buscaba al androide todos lo hacían con miradas de violencia y movimientos frenéticos, todo era un caos…
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    Los entes, que habían formado un círculo alrededor del edificio, observaron con atención que había una persona, una señora de edad media, estatura corta y pelo castaño que no participaba del frenesí general…Pasados unos minutos de esa búsqueda impetuosa, las demás personas encontraron a un humanoide claramente escondido en un rincón en el segundo piso del recinto de vidrio, temblando y abrazando su cuerpo. No pasaron siquiera unos instantes para que el primer grupo que lo observó, se abalanzara hacia la criatura y como perros hambrientos a un pedazo de carne, masacrara al androide, le removieron todas las partes de su cuerpo y solo quedó un montón de escombros del material inorgánico de la criatura.
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    Los vidrios que se estaban consumiendo de arriba a abajo, tenían aún más de tres cuartos de su altura original, cuando el robot fue descuartizado y la brisa no se disipó. La señora, que claramente no participó en la masacre, observó con tristeza el dañino acto.
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    La señora guiada por lástima se acercó a estos restos y levantó lo que quedaba de la cabeza del robot, vio que a no pocos pasos, había un ojo intacto, lo cogió y lo acomodó en su debido sitio, puso la cabeza sobre el cuello y la soltó. La señora sonrió, pero pronto la cabeza rodó hacia el suelo y paró de rodar al pegar con unos tarros de líquido, que al chequearlo se dio cuenta de que era una especie de pegamento y para su asombro notó que toda la estancia donde estaba el androide tenía telas dobladas, un cajón pequeño con instrumentos de coser, siguió buscando y su asombro fue mayor cuando encontró papeletas, jaboncillos y cintas. Realmente toda la casa de cristal estaba llena de instrumentación semejante, pero en medio del caos, nadie había puesto atención a algo que no fuera similar a un androide.
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    Todos los entes seguían sin moverse, los vidrios aún se derretían, las personas se agruparon en el primer piso y con cada minuto aumentaba la ansiedad general. Nuestra señora se quedó en el segundo piso y retomó su labor con maestría artística, dado que ella en sus pocos tiempos de ocio como esclava, los dedicaba a dibujar y manipular cerámica. Cuando terminó de armar al androide, tomó un respiro, volvió a sonreír, esta vez la cabeza no se cayó, la señora se sintió bien, pero pronto perdió el aliento, al notar que ya no escuchaba ningún ruido de abajo, que la brisa se había ido y los vidrios ya no se consumían. Se había inmerso tanto en su labor, que olvidó por completo todo lo relacionado al recorrido y la prueba. Bajó rápidamente las escaleras y vio como todos sus compañeros de viaje eran dirigidos de nuevo al laberinto, con más rapidez aún, quiso unirse a la fila pero uno de los entes la detuvo con las palabras “tú no”.
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    La señora que tenía una personalidad dócil e inocente, no dijo nada y simplemente se detuvo, el ente que era como una sombra de gran altura con una forma humana (cuatro miembros, manos, pies y una cabeza circular) le tendió una mano. La señora obedeció al gesto con miedo, pero se tranquilizó al sentir el contacto ameno, cálido y agradable.
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    Tomados de la mano, salieron del laberinto por un atajo, en la salida se encontraba una exclusa láser. Al ver la salida, la señora que estaba segura que iba pronto a morir, por no ser parte del asesinato y por ende no pasar la prueba, no se pudo contener más y le preguntó de la forma más formal y educada que supo, qué era eso. “Es solo un aparato de registro” – fue la respuesta. El tono de voz del ente, al igual que su contacto, era cálido y amigable, por ello la mujer se aventuró a pronunciar más palabras:
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    “Disculpe buen señor y perdóneme si es un error lo que voy a decir ¿pero a dónde vamos?”
    “Después del registro, vamos a ver a mi jefe, pero no te preocupes humanito especial, si yo soy un buen señor, él es excelente señor”
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    Después de pasar por la exclusa, la mujer fue separada de su guía y vestida en un traje espacial, por una criatura extraña con miembros como tentáculos, mientras esto sucedía, la mujer empezó a ver borroso y terminó por perder el conocimiento, sus sentidos estaban demasiado abrumados y no comprendía nada. Cuando de nuevo abrió los ojos, se encontraba en su hogar, con la distinción que el ente estaba ahí también, si bien todos los entes a simple vista eran iguales, la señora sabía que éste que estaba en su hogar, era el mismo que la tomó de la mano y la guió fuera del laberinto. El ente habló:
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    “Disculpa buen humano, es la primera vez desde que estamos en la tierra que tomamos uno de los tuyos y los dirigimos fuera de su planeta madre”
    Pasados unos momentos de silencio, la señora pareció recuperarse, pero seguía demasiado asustada y sintiendo que algo estaba mal, habló:
    “Buen señor, gracias por traerme a mi casa, pero no me siento muy bien, estoy débil y quiero preservar mi vida, no quiero desmayarme otra vez, sino servirles para lo que ustedes tengan a bien, si así puedo ser útil”
    “Confía en mi humano, ¿te importa si te llamo por tu nombre, Henna?”</br>
    Henna respondió:
    “No importa”{% endblocktrans %}</br>
    {% trans '“Henna…”' %} </br>
    {% blocktrans %}El ente volvió a tomar de la mano a la señora y siguió.{% endblocktrans %}</br>
    {% blocktrans %}“No te asustes por lo que te diré, en realidad no estás en tu casa, ¿recuerdas que te dije que íbamos a ver a mi amo? Verdaderamente, estamos en la casa de él, pero recreamos esta escena para que tu conciencia no sufriera de nuevo un shock y se mantuviera con nosotros”
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    Henna que seguía temblorosa y con miedo, se calmó un poco al recibir nuevamente el contacto agradable y cálido del alien. Pasaron alrededor de un minuto así, cuando el alien percibió que la respiración de Henna se estabilizaba, continuó su conversación:
    “Henna créeme que no es nuestro objetivo que mueras, ni tampoco queremos generar en ti ningún tipo de daño, ahora mi amo pasará a esta sala, entrará por la puerta y se sentará. Después entrará otro compañero que se especializa en curar humanos y demás razas, él traerá un cilindro con gas del que deberás aspirar solo para tranquilizarte y que estés más despierta con mi amo, no te hará nada, ni afectará tus pensamientos, pero si talvez, verás más claro todo. Ellos tendrán forma holográmica de otros humanos, entenderás que esa no es su forma real, no queremos causarte ningún miedo, por ello, de momento, me vez como me vez y los verás a ellos así.”
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    Henna, que de verdad confiaba en el alien, se tranquilizó aún más, le trató de dar sentido a la situación, suspiró, tragó saliba, se fortaleció mentalmente y dijo:
    “Lo entiendo, perdón por las molestias, con gusto veré y hablaré con tu amo”.
    Apenas pronunció estas palabras, entró por la puerta un muchacho de unos 25 años, alto, fornido y pelirrojo y se sentó en la mesa junto a ellos, los miró a ambos y a Henna le dedicó una sonrisa. Seguido entró tal como dijo el ente alien, una hermosa joven con cabello verde, cargando en un carrito: un cilindro y mascarilla de gas. Henna obedientemente aspiró usando la mascarilla, experimentó midriasis y perdió el miedo. Apenas el joven notó el cambio, en las pupilas de Henna, éste habló:
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    “Buenas, Henna, me puedes decir Juho, pero mi nombre no es importante. Sé que ahora tienes muchas preguntas, pero permíteme reforzar lo dicho por mi pupilo, no queremos hacerte ningún tipo de daño, ni que entres en otro estado energético. Todo esto lo hacemos porque nos interesa tu arte”
    Juho hablaba de manera fluida y confiado, el gas hizo que Henna perdiera toda pizca de miedo y ahora solo sentía curiosidad por la última frase que pronunció Juho.
    “¿Mi arte?”
    “Sí, tu arte Henna, desde que conquistamos tu planeta, nos asombró el sin sentido del estado de las cosas, ustedes tenían todo para prosperar, pero lo echaron a perder, sin embargo, creemos que fue ese mismo sin sentido, el que dio a luz, que se produjeran esas obras de arte maravillosas de tu raza, en esas está impresa toda sensación, todo sentimiento humano… Permíteme Henna decirte, que no somos unos esclavistas, no nos agrada tener a la raza humana en su estado actual y todo lo hacemos por el arte”
    “¿arte?”
    “Sí arte, desgraciadamente cuando tomamos la decisión de no exterminarlos, ninguno de los sobrevivientes de la guerra era un artista y aquellos que lograban hacer algo parecido a un dibujo o cosas por el estilo, lo hacían de manera forzada y el resultado era grotesco”
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    Henna, que además de inocente, era lista e inteligente, ya se iba formando una buena idea del objetivo del famoso recorrido por el laberinto y la prueba:
    “Entonces la prueba…”
    “Si Henna, queremos encontrar un artista de verdad, un artista que lleve el arte en sí mismo como tus ancestros. Creímos que al recorrer el laberinto, museo antiguo de esculturas hermosas, eso inspiraría a las personas, la prueba algo confusa, siempre fue para probar el intelecto, no para causar una orgía de violencia, como lo que pasó…”
    El joven pelirrojo bajó la mirada al suelo, y su faz se turbó por un momento, pero prosiguió:
    “Hemos hecho esto desde hace muchos ciclos de tu luna, el resultado nunca era el esperado, pero para esta prueba… puede que haya sido mi culpa al poner una prueba con la palabra muera, pero en serio, fue asqueroso el comportamiento de tus coterráneos”
    Juho prosiguió:
    “Es muy común en tu raza esas muestras de violencia, sin embargo, sabemos que entre los tuyos también existe mucha bondad y tú eres muestra viva de ello. No es así, Jeaon?”
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    Al parecer Jeaon era el ente acompañante de Henna, ya que éste contestó:
    “Sí Henna, en claro contraste con las demás personas que tomaron la prueba, tú mostraste una sensibilidad bendita hacia el androide, no solo lo reconstruiste, sino que además lo vestiste, lo cambiaste por completo, al hacer eso, el antiguo androide pereció y renació uno nuevo, lo que queríamos era precisamente eso, que se reconstruyera el androide, todo el edificio tenía herramientas para ello y si hubieran examinado al menos un momento al pobre robot, se hubieran dado cuenta que originalmente estaba incompleto y necesitaba ciertos arreglos.”
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    Continuó Juho la conversación:
    “A toda tu raza desde el nacimiento se les enseña que un androide no tiene vida, aunque muestre señas de sentimientos, por tanto, no puede morir, la única forma entonces de que un androide perezca, era realizar uno nuevo de los vestigios de lo que había, así el antiguo ya no sería más y nacería uno nuevo. Nunca queríamos que la violencia fuera sobre él. Esa era toda la cuestión del acertijo”.
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    Esta vez fue Jeaon quien continuó:
    “Resulta Henna, que nuestro objetivo al encontrar un artista, era recrear ese arte, pero esto a final de cuentas, es tu decisión, por eso de manera cordial te pedimos el favor de multiplicar tus obras”
    Henna, aún un poco confundida creyó que sus interlocutores esperaban mucho de ella:
    “¿Qué pasa si no soy capaz?”
    “Vivirás con nosotros, no como esclava sino como un ciudadano más, no pasará nada, pero si nos gustaría al igual que como recreaste al androide, te expandas en tu arte”
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    La conversación prosiguió un poco más, y afinaron detalles del futuro de Henna. Los alienígenas le dieron a Henna utensilios para replicar todo tipo de arte, habitaciones cómodas y todo lo necesario para vivir. Al principio los detractores de Juho y la raza humana no creían en el caso de Henna, mencionando que ella nunca podría reproducir arte como la encontrada en la Tierra trabajando bajo presión en un ambiente extraño, en esto los enemigos de Juho tenían razón, Henna estaba trabajando bajo una presión autoimpuesta en un ambiente extraño, pero se equivocaron al ver las primeras obras de Henna, que se equiparaban a las hechas por los grandes artistas terrestres de antaño.
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    La raza que conquistó la Tierra se maravilló con Henna y sus obras, le dieron todo tipo de implantes y medicinas para prolongar los míseros 95 años de vida humana. El nombre de Henna, la artista se expandió rápido por los mundos conquistados y Henna al ver su fama encontró el valor para solicitar a Juho, a quien ya podía tratar en su forma real, el convertirse en maestra de arte, atendiendo estudiantes de toda especie, pero insistiendo que sus primeros aprendices sean humanos.
    {% endblocktrans %}
  </p></br>

  <p>
    {% blocktrans %}
    Al pasar los muchos ciclos, los estudiantes de Henna recrearon arte como la de su maestra, arte humana, pero esta expresión de ser, pronto se expandió a diferentes estéticas más allá de las humanoides y expresiones culturales distintas a las de la Tierra. Los humanos al principio estereotipados por ser una raza esclava, bruta y estúpida, pronto cambiaron ese estereotipo por ser una raza artística y la antigua historia de la Tierra antes de la conquista, llena de guerras y sin sentidos, solo pasó a ser un pie de página en la historia general de la galaxia. La Tierra en sí pasó a ser un museo, el edificio central del laberinto fue derribado y en su lugar se erigió a una escultura a Henna, la escultura era la forma de Henna ya anciana, un poco antes de morir, cuando ya no tenía fuerza para esculpir o dibujar, pero sí para aconsejar y animar a sus alumnos, lo cual llegó a hacer según se cuenta, incluso en los últimos días de su vida.
    {% endblocktrans %}
  </p></br>

  <blockquote>
    <p>
      {% blocktrans %}
      La escultura tenía la placa:
      “Nuestra maestra Henna, la mayor obra de arte”.
      {% endblocktrans %}
    </p>
  </blockquote>
</article>