# Python-specific ignores
*.pyc
*.pyo
__pycache__/
*.sqlite3

.venv/

# IDE/editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Logs and debug output
*.log
*.bak

# Media and static files
media/
staticfiles/
static/

# Django-specific files
*.pot
*.py[cod]
*.so

# Environment variables
.env
.env.prod

# Node modules (if using frontend tools like npm or yarn)
node_modules/

# Package-related
*.egg
*.egg-info/
dist/
build/

# Coverage and testing
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.pytest_cache/

/locale/
