<article>
  <h2>Babylon Is the System</h2>

  <p>
    Babylon is the system.<br>
    Why do you cope with the system?<br>
    Why do you cope even with hope?<br>
    Don't you know that Babylon is the system?<br>
    She's the mother of all woes.
  </p></br>

  <p>
    You're born into the system,<br>
    There's nothing you can do.<br>
    You can try to pass the Great Wall,<br>
    But in the end, all roads lead to Rome.
  </p></br>

  <p>
    We're all sons and daughters of the wench.<br>
    Are you trying to escape? What are you gonna do?<br>
    Say farewell to all your friends?
  </p></br>

  <p>
    To be a hermit and live in the mountains—<br>
    That's what I like to call just a utopia.<br>
    Or maybe there's another way? Can you disguise yourself<br>
    In order to avoid the poisoned wine?
  </p></br>

  <p>
    There's only one way out of the city,<br>
    By taking the great bridge that leads to Zion.<br>
    But only those on the white list<br>
    Can safely go through it.
  </p></br>

  <p>
    At the end of the narrow road,<br>
    There is a strait gate in the wall.<br>
    Deny yourself, become one of the chosen ones,<br>
    And you may not fall.
  </p></br>
</article>
