<article>
  <h2>Friendship</h2>

  <p>
    Friendship, do I know you?<br />
    I think I met you in the days of old,<br />
    But was it really you?<br />
    Are you even real on this planet blue?
  </p></br>

  <p>
    My soul longs for a friend.<br />
    Many times I called people by that name,<br />
    Only to find the ship of friends had sailed.
  </p></br>

  <p>
    A ghost ship is what you are—<br />
    An illusion of the innocent,<br />
    Only present on shores afar.
  </p></br>

  <p>
    Now, let it be—<br />
    That phrase is my new philosophy.<br />
    I don't care about you...<br />
    You don't care about me...
  </p></br>
</article>
