<article>
  <h2>About Dorian Gray</h2>

  <p>
    Once, a gay man wrote... wrote and wrote and wrote.<br />
    The only book he left,<br />
    The complete story he told,<br />
    Of a man full of grace and good looks,<br />
    Envy of his neighbor... for he was so able.
  </p></br>

  <p>
    But when a man has much, he wants more.<br />
    Ambition took his heart, and with the devil,<br />
    He established a pact.<br />
    With the enemy he communicated,<br />
    So time wouldn't be so complicated.
  </p></br>

  <p>
    Maintaining his beauty, he achieved,<br />
    But his soul he gave to take the tool for thee.<br />
    What would you tell, Dorian?<br />
    You who found the fountain in hell—<br />
    Was it worth it? Are you filled?
  </p></br>

  <p>
    Curiosity kills the cat's eye,<br />
    And even the immortal says that's all vain.<br />
    What would you do? What would you tell?<br />
    Solomon said it before, and with more strength.
  </p></br>

  <p>
    I thank you, Wilde, because Dorian I wanted to be;<br />
    Now I see that the old man was truly wise,<br />
    And on the right sad side I was all along... all alone...
  </p></br>
</article>
