<article>
  <h2>Innocence</h2>

  <p>
    Innocence was the state of all of us<br />
    Long before the first lie pronounced by Lucifer,<br />
    Prior to the disastrous fault of Eve.
  </p></br>

  <p>
    What will you do, bitter Lord,<br />
    With those that simply don’t get it?<br />
    With those who cannot comprehend<br />
    Neither your love nor your hate?
  </p></br>

  <p>
    Nobody can answer this:<br />
    Neither your precious people, God, nor me.<br />
    This evil within—where did it come from?<br />
    From myself, you, or him?
  </p></br>

  <p>
    The crying babies, the innocent dying, Africa’s state...<br />
    I simply don’t get it, Lord.<br />
    That’s why I stay away.
  </p></br>

  <p>
    But that does not mean I have no respect for thee.<br />
    Those things happen... maybe there’s a hole to be filled.
  </p></br>

  <p>
    Sadness and woe,<br />
    To my spirit, they called it home...<br />
    To be aware of injustice, Lord,<br />
    Is to not be a child anymore.
  </p></br>

  <p>
    Sadness and woe,<br />
    To my spirit, they called it home...<br />
    Woe and sadness,<br />
    I’m no longer a child,<br />
    I can see real darkness.
  </p></br>

  <p>
    I’m sorry, Boss, as there is no answer.<br />
    I grew cold, but always a prankster.
  </p></br>

  <p>
    Cold I am, but consuming fire awaits—<br />
    Not like you tepids of all,<br />
    That Jesus will regurgitate.<br />
    Those whose fate is worse than mine,<br />
    And even my pity you can’t take.
  </p></br>
</article>
