<article>
  <h2>Internship</h2>

  <p>
    Doing an internship I am,<br />
    Out of boredom I apply.<br />
    Nothing that contacts my eye<br />
    Can keep me from thinking...<br />
    What am I doing in this life?
  </p></br>

  <p>
    People in the company<br />
    They treat me so well,<br />
    But I know H.R.<br />
    And for the lesser wage,<br />
    I won't ask.
  </p></br>

  <p>
    Feeling defeated, but I'll make sure<br />
    This won't be repeated.<br />
    Abnormal hope flowing through...<br />
    Future, will you smile too?
  </p></br>

  <p>
    A difficult decision I have to make,<br />
    An opportunity given... will I take?<br />
    Comfortable I'm not, and won't be,<br />
    As this company says goodbye<br />
    Tomorrow, and Father Future will hold me—aye!
  </p></br>
</article>
