<article>
  <h2>Money, I’m a Fool</h2>

  <p>
    Money, I’m a fool.<br />
    Without health I cannot live;<br />
    Without you there are no green fields.
  </p></br>

  <p>
    Health and true love, and maybe some other stuff,<br />
    Are the things that are more important than fancy, stupid clothes.
  </p></br>

  <p>
    But money, I’m no fool.<br />
    My brain is not that of an ape.<br />
    With those things—and you—<br />
    Happiness I can obtain.
  </p></br>

  <p>
    Money, I’m no fool.<br />
    My head is walking on a road;<br />
    If your green help would go along,<br />
    Everything I’ll take, everything—I’ll feel so strong.
  </p></br>

  <p>
    Money, I’m no fool.<br />
    I have so much respect for you.<br />
    You turn a mother against her son;<br />
    Nations you can overthrow.
  </p></br>

  <p>
    Oh God, I’m a fool.<br />
    This anxious man you have to heal.<br />
    Provide green papers, Lord,<br />
    And a good deed will be fulfilled.
  </p></br>
</article>
