<article>
  <h2>Moses, I Don't Wanna Fight</h2>

  <p>
    Moses, I don't wanna fight.<br />
    Moses, I don't wanna fight.<br />
    I may be no virgin, but... I don't wanna die.<br />
    My lips have tasted and loved the wine,<br />
    But that does not mean I have to die.
  </p></br>

  <p>
    Moses, you that see us from space,<br />
    What do you think of us humans as a race?<br />
    You're more spirit than flesh,<br />
    Yet you judge us, above everything else.
  </p></br>

  <p>
    Do you remember when your robes were filled with blood<br />
    And your head with rage?<br />
    In my end, maybe that'll be the same—<br />
    But with my blood and my pain.
  </p></br>
</article>
