<article>
  <h2>Music, God's Muse</h2>

  <p>
    Music, God's Muse.<br />
    Was it true<br />
    that mastered by the devil<br />
    were you?
  </p></br>

  <p>
    Vocal cords reproducing all<br />
    twelve tones,<br />
    wonders that no human<br />
    could ever hear—<br />
    is the power of the master of fear.
  </p></br>

  <p>
    If you can stay still<br />
    while you hear the beat,<br />
    the only reason for that<br />
    is because you're bedridden, ill.
  </p></br>

  <p>
    Music is a tool... remember...<br />
    it could be used to fool.<br />
    Real powers sounding at megahertz,<br />
    filling with blood your pump called heart.
  </p></br>

  <p>
    Gripping thy power—<br />
    electric whisper of hell.<br />
    Hypnotize me not,<br />
    oh please, I don't want to die today.
  </p></br>

  <p>
    Nietzsche was right,<br />
    he told no lie.<br />
    Without God's muse,<br />
    that's the best excuse... to stop.
  </p></br>
</article>
