<article>
  <h2>F***ing Nintendo</h2>

  <p>
    F***ing Nintendo, how I loved you so well!<br />
    You treated me so good, even when I wasn't of age.<br />
    How I enjoyed Fox, Mario, and Zelda!<br />
    But let it be known that I disagree with your current agenda.
  </p></br>

  <p>
    F***ing Nintendo, loyal I was<br />
    Even when my friends changed their hearts,<br />
    And your very own Satan started to grow apart.
  </p></br>

  <p>
    F***ing Nintendo, let me tell you that now I’m a grown man.<br />
    One can’t be living on nostalgia for so long…<br />
    So I say goodbye, once and for all.
  </p></br>
</article>
