<article>
  <h2>Why Do You Watch TV?</h2>

  <p>
    Why do you watch TV?<br />
    Why do you watch TV?<br />
    Is there not enough drama in your life,<br />
    That you have to watch strangers argue and fight?
  </p></br>

  <p>
    Do you watch with morbid interest,<br />
    As the Romans watched the lions tear apart?<br />
    Find a hobby, do something that matters,<br />
    Consuming TV ads won't let you have it.
  </p></br>

  <p>
    Why do you let your kids watch it?<br />
    Let me say: the box doesn't make a good nanny.<br />
    Flat screen HDTV,<br />
    That thing kills their time indeed.
  </p></br>

  <p>
    Or maybe you watch because there's<br />
    Nothing else to do in your boring life.
  </p></br>
</article>
