<article>
  <h2>Dire Wolf</h2>

  <p>
    Never met one, yet so fascinated.<br />
    Without a single bark,<br />
    He takes care of his pack.
  </p></br>

  <p>
    It's the way for those greater than a pet<br />
    To be recognized with the valor of their life and death.
  </p></br>

  <p>
    More potent than any canine's bite,<br />
    Frightening tusks, Hulk among dogs.<br />
    Such a great animal, the Dire Wolf.
  </p></br>

  <p>
    His prey already dead with fear,<br />
    He manages to lead among his peers.<br />
    Haha, you don't stand a chance—<br />
    For full of scars, the Great Wolves are.
  </p></br>

  <p>
    Even on my skin you're Dire Wolf,<br />
    Symbol of perseverance over the snow,<br />
    Of constancy. Oh dear Wolf,<br />
    You do not fail where there's no glow.
  </p></br>
</article>
