{% extends "blog/layout.html" %}

{% block content %}
<section>
    <article>
        {% include "blog/poems/_babi.html" %}
        <hr />
        {% include "blog/poems/_friend.html" %}
        <hr />
        {% include "blog/poems/_grey.html" %}
        <hr />
        {% include "blog/poems/_inno.html" %}
        <hr />
        {% include "blog/poems/_inter.html" %}
        <hr />
        {% include "blog/poems/_mon.html" %}
        <hr />
        {% include "blog/poems/_moses.html" %}
        <hr />
        {% include "blog/poems/_music.html" %}
        <hr />
        {% include "blog/poems/_ninten.html" %}
        <hr />
        {% include "blog/poems/_tv.html" %}
        <hr />
        {% include "blog/poems/_wolf.html" %}
        <hr />
    </article>
</section>
{% endblock %}